@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
    background-color: black;
    
  }

.container {
    margin: 0 auto;
    max-width: 600px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #ffd900;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  .deleteBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .editBtn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  .inputTxt {
    background-color: #5c9fd6;
  }